<!DOCTYPE html>
<html lang="en" ng-app="shoppingApp">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/mystyle.css" type="text/css">
        <script src="js/angular.min.js"></script>
        <script src="js/app.js"></script>
	</head>

    <body class="container" ng-controller="ProductListCtrl">
    <ul>
        <li ng-repeat="product in products">
            {{product.name}}
            <p>{{product.cost | currency}}</p>
            <p>{{product.discount | currency}}</p>
            <p>Quantity: <input type="number" name="quanty" ng-model="quantity"></p>
            <p>{{product.discount_quantity}}</p>
            <p>Total: {{ item_total = product.cost * quantity | currency }}</p>
            <button ng-click="total = total + item_total">
              Add to Cart
            </button>
        </li>
    </ul>
        <p>{{ total = total + item_total }}</p>

        <form name="shopping">
            New Cost for Product A: <input type="text" name="product_name" ng-model="products[0].cost">
            New Cost for Product B: <input type="text" name="product_name" ng-model="products[1].cost">
            New Cost for Product C: <input type="text" name="product_name" ng-model="products[2].cost">        
        </form>
        
        <h1>{{ total | currency }}</h1>
	</body>
</html>